<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.data.[page.language].title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.data.[page.language].description }}">
    <meta property="og:image" content="/img/copywrongs.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@copywrongs">
    <meta name="twitter:title" content="{{ site.data.[page.language].title }}">
    <meta name="twitter:description" content="{{ site.data.[page.language].description }}">
    <meta name="twitter:creator" content="@copywrongs">
    <meta name="twitter:image:src" content="http://copywrongs.eu/img/copywrongs.png">
    <meta name="twitter:domain" content="copywrongs.com">
    <link rel="canonical" href="{{ page.url | replace:'/index.html','' | replace:'/','' | replace:'en','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
</head>
