 <!-- copywrongs -->
    <script src="{{ "/js/copywrongs.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
        function getGeoFromIp() {
            var url = 'http://ip-api.com/json';
            var ajaxRequest = new XMLHttpRequest();
            ajaxRequest.open( "GET", url, true );

            ajaxRequest.onreadystatechange = function() {
                if (ajaxRequest.readyState == 4) {
                    if (ajaxRequest.status == 200) {
                        // call geo with ip-api geo data
                        var data = JSON.parse( ajaxRequest.responseText );
                        geo(data);
                    } else {
                        // fallback in case of blocked external urls
                        // window.countryCode is undefined at this point
                        // no way to get country :(
                        //geo({countryCode: window.countryCode});
                        showMEP();
                    }
                }
            }
            ajaxRequest.send();
        }

        getGeoFromIp();
    </script>