<!DOCTYPE html>
<html>

	{% include head.html %}
	{% assign t = site.data.[page.language] %}

	<body class="state-noselection">

	    <script type="text/javascript"><!-- i18n for js strings -->
	    var allHtml = /(<([^>]+)>)/ig;
	    window.t = {
	        shareText: "{{ t.sharetext }}".replace(allHtml, ''),
	        want: {
	            'geoblocking': "{{ t.geoblocking.h }}".replace(allHtml, ''),
	            'borders': "{{ t.extendborders.h }}".replace(allHtml, ''),
	            'contracts': "{{ t.protectauthors.h }}".replace(allHtml, ''),
	            'quotes': "{{ t.righttoquote.h }}".replace(allHtml, ''),
	            'link': "{{ t.righttolink.h }}".replace(allHtml, ''),
	            'publicdomain': "{{ t.publicdomain.h }}".replace(allHtml, ''),
	            'libraries': "{{ t.libraries.h }}".replace(allHtml, ''),
	            'panorama': "{{ t.publicspace.h }}".replace(allHtml, ''),
	            'education': "{{ t.education.h }}".replace(allHtml, ''),
	            'term': "{{ t.availability.h }}".replace(allHtml, ''),
	            'drm': "{{ t.digitallocks.h }}".replace(allHtml, ''),
	            'filesharing': "{{ t.filesharing.h }}".replace(allHtml, '')
	        }
	    };
	    </script>

		<div id="callnow" onclick="window.scrollTo(0,99999)">
			<h3>{{ t.callnow }}</h3>
		</div>

		<div id="lang"><div class="cont">
			<select id="lang" onchange="document.location.replace('/'+this.options[this.selectedIndex].value)">
		        <!-- <option value="cz"{% if page.language == "cz" %} selected{% endif %}>CZ - Čeština</option> -->
		        <option value="de"{% if page.language == "german" %} selected{% endif %}>DE - Deutsch</option>
		        <!-- <option value="el"{% if page.language == "el" %} selected{% endif %}>EL - Ελληνικά</option> -->
		        <option value="" {% if page.language == "english" %} selected{% endif %}>EN - English</option>
		        <!-- <option value="es"{% if page.language == "es" %} selected{% endif %}>ES - Español</option> -->
		        <option value="fr"{% if page.language == "french" %} selected{% endif %}>FR - Français</option>
		        <!-- <option value="it"{% if page.language == "it" %} selected{% endif %}>IT - Italiano</option> -->
		        <!-- <option value="pl"{% if page.language == "pl" %} selected{% endif %}>PL - Polski</option> -->
		        <!-- <option value="ro"{% if page.language == "ro" %} selected{% endif %}>RO - Română</option> -->
	    	</select>
	    </div></div>

		<div class="cont" id="maincont">

		<h1><div>{{ t.savecreform }}</h1>
		<h2 id="countdown"><div id="days"></div> {{ t.daysuntil }}</h2>

			<h3 class="now">
				<span>{{ t.rightnow }}</span> {{ t.debatingplans }} <strong class="but"> {{ t.but }} </strong>
				<!--center><strong>Will you help save them?</strong></center-->
			</h3>
			<iframe class="yt" width="760" height="428" src="https://www.youtube-nocookie.com/embed/o9FTp_htnnc" frameborder="0" allowfullscreen></iframe>

			<h3 class="now">
				<center><strong>{{ t.whichthree }}</strong></center>
			</h3>

			<div id="propcontainer" class="state-geoblocking">
				<a class="nav" id="prev" href="#" onclick="return nav(this, -1)">➜</a>
				<ul id="prop">
					<li class="geoblocking" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.geoblocking.h }}</a></li>
					<li class="borders" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.extendborders.h }}</a></li>
					<li class="contracts" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.protectauthors.h }}</a></li>
					<li class="quotes" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.righttoquote.h }}</a></li>
					<li class="link" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.righttolink.h }}</a></li>
					<li class="publicdomain" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.publicdomain.h }}</a></li>			
					<li class="libraries" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.libraries.h }}</a></li>
					<li class="panorama" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.publicspace.h }}</a></li>
					<li class="education" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.education.h }}</a></li>
					<li class="term" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.availability.h }}</a></li>
					<li class="drm" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.digitallocks.h }}</a></li>
					<li class="filesharing" onmouseover="overprop(this)" xonmouseout="overprop(this, false)"><a href="#" onclick="return false">{{ t.filesharing.h }}</a></li>
				</ul>
				<a class="nav" id="next" href="#" onclick="return nav(this, 1)">➜</a>

				<div class="popover" id="geoblocking">
					<img src="/img/icon-geoblocking.png" width="170" style="float: left; margin-right: 1em" />
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> "{{ t.geoblocking.cw }}"
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.geoblocking.eu }}
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="borders">
					<img src="/img/icon-borders.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.extendborders.cw }}<!--For example: In Germany you can freely post photos of public buildings online – but across the border in France the architect could sue you.-->
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.extendborders.eu }} <a href="{{ t.extendborders.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="contracts">
					<img src="/img/icon-contracts.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.protectauthors.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.protectauthors.eu }} <a href="{{ t.protectauthors.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="quotes">
					<img src="/img/icon-quotes.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.righttoquote.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.righttoquote.eu }} <a href="{{ t.righttoquote.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="link">
					<img src="/img/icon-link.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.righttolink.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.righttolink.eu }} <a href="{{ t.righttolink.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="publicdomain">
					<img src="/img/icon-publicdomain.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.publicdomain.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.publicdomain.eu }} <a href="{{ t.publicdomain.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>
				<div class="popover" id="libraries">
					<img src="/img/icon-libraries.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.libraries.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.libraries.eu }} <a href="{{ t.libraries.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="panorama">
					<img src="/img/icon-panorama.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.publicspace.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.publicspace.eu }} <a href="{{ t.publicspace.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="education">
					<img src="/img/icon-education.png" width="170" />
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.education.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.education.eu }} <a href="{{ t.education.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="term">
					<img src="/img/icon-term.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.availability.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.availability.eu }} <a href="{{ t.availability.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="drm">
					<img src="/img/icon-drm.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.digitallocks.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.digitallocks.eu }} <a href="{{ t.digitallocks.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>

				<div class="popover" id="filesharing">
					<img src="/img/icon-filesharing.png" width="170"/>
					<div class="wrong">
						<h3>{{ t.currentcopywrong }}</h3> {{ t.filesharing.cw }}
					</div>
					<div class="right">
						<h3>{{ t.euproposal }}</h3> {{ t.filesharing.eu }} <a href="{{ t.filesharing.link }}" target="_blank">{{ t.readmore }}</a>
					</div>
					<a href="#" class="btn" onclick="return want(this)">{{ t.iwant }}</a>
				</div>
			</div>

			<!--h3 class="but"><span>But</span> a <a href="#">powerful alliance</a> is <a href="#">sabotaging</a> these necessary updates.</h3-->
			<h3 class="join">{{ t.joinfight }}</h3>

			<!--p class="but">You'll suffer "this video is not available in your country" for another decade. You may be branded a criminal for your social media activity. Culture will be locked into national borders. Labels and publishers will stay in charge.</p-->


		</div>
		<div id="call" class="cont">

			<h2>{{ t.call.h }}</h2>

			<p>{{ t.call.text }}</p>

			<form id="callform" action="https://piphone.lqdn.fr/campaign/call2/rapport_reda/" method="POST" onsubmit="return callSubmit();" target="submittarget">
				<div id="mepprofile">
					<img alt="Photo of the MEP" id="mep_photo" width="100" height="126" style="float:left; margin-right: 1em" />
					<h3 id="mep_name"></h3>
					<div id="mep_party"></div>
					<div>Member of the Legal Affairs Committee</div>
					<div style="display:none">European political family: <span id="mep_group"></span></div>
					<div id="showmepcontainer">
						<a href="#" id="showmep" onclick="return showMEP()">{{ t.call.showother }}</a> from 
						<select id="country" onchange="geo({ countryCode: this.options[this.selectedIndex].value}, 'fromDropdown')">
							<option value="">an EU member state</option>
							<option value="BG">България</option>
							<option value="CZ">Česká republika</option>
							<option value="DE">Deutschland</option>
							<option value="ES">España</option>
							<option value="FR">France</option>
							<option value="IE">Ireland/Éire</option>
							<option value="IT">Italia</option>
							<option value="LT">Lietuva</option>
							<option value="LU">Lëtzebuerg</option>
							<option value="HU">Magyarország</option>
							<option value="MT">Malta</option>
							<option value="AT">Österreich</option>
							<option value="PL">Polska</option>
							<option value="PT">Portugal</option>
							<option value="FI">Suomi</option>
							<option value="SE">Sverige</option>
							<option value="UK">United Kingdom</option>
						</select>
						<abbr class="help" title="EU member states missing from this list have no MEPs on the Legal Affairs Committe. Sorry!">?</abbr> 
					</div>
				</div>
				<div id="callinput">
					My phone number: 
					<div id="phonenumber">
						<select id="countrycode">
							<option id="cc-AT" value="+43">AT +43</option>
							<option id="cc-BE" value="+32">BE +32</option>
							<option id="cc-BG" value="+359">BG +359</option>
							<option id="cc-CY" value="+357">CY +357</option>
							<option id="cc-CZ" value="+420">CZ +420</option>
							<option id="cc-DK" value="+45">DK +45</option>
							<option id="cc-DE" value="+49">DE +49</option>
							<option id="cc-EE" value="+372">EE +372</option>
							<option id="cc-ES" value="+34">ES +34</option>
							<option id="cc-FI" value="+358">FI +358</option>
							<option id="cc-FR" value="+33">FR +33</option>
							<option id="cc-GR" value="+30">GR +30</option>
							<option id="cc-HR" value="+385">HR +385</option>
							<option id="cc-HU" value="+36">HU +36</option>
							<option id="cc-IE" value="+353">IE +353</option>
							<option id="cc-IT" value="+39">IT +39</option>
							<option id="cc-LT" value="+370">LT +370</option>
							<option id="cc-LU" value="+352">LU +352</option>
							<option id="cc-LV" value="+371">LV +371</option>
							<option id="cc-MT" value="+356">MT +356</option>
							<option id="cc-NL" value="+31">NL +31</option>
							<option id="cc-PL" value="+48">PL +48</option>
							<option id="cc-PT" value="+351">PT +351</option>
							<option id="cc-RO" value="+40">RO +40</option>
							<option id="cc-SI" value="+386">SI +386</option>
							<option id="cc-SE" value="+46">SE +46</option>
							<option id="cc-SK" value="+421">SK +421</option>
							<option id="cc-UK" value="+44">UK +44</option>
							<option value="">Other</option> <!-- Add translation -->
						</select>				
						<input type="tel" id="localnumber" placeholder="0123 456 789"></input>
					</div>
					<input type="hidden" id="phone" name="phone" />
					<input type="submit" class="btn" id="callbutton" value="Connect me free of charge!" />
				</div>
				<div id="thankyou">
					<h3>Thank you! You should receive a call any second now.</h3>
					<a href="#" onclick="return showMEP()">Call another MEP</a>
				</div>

			</form>
 
			<a id="what" href="https://wiki.laquadrature.net/How_to_contact_a_MEP#Phone_Call" target="_blank">{{ t.call.what }}</a>

			<h3>{{ t.call.agenda }}</h3>
			<ol id="agenda">
				{{ t.call.agendatext }}
				<li class="geoblocking">
					{{ t.geoblocking.please }}
					<div class="do">{{ t.geoblocking.do }}</div>
					<div class="tip">{{ t.geoblocking.tip }}</div>
				</li>
				<li class="borders">
					{{ t.extendborders.please }}
					<div class="do">{{ t.extendborders.do }}</div>
				</li>
				<li class="contracts">
					{{ t.protectauthors.please }}
					<div class="do">{{ t.protectauthors.do }}</div>
				</li>
				<li class="quotes">
					{{ t.righttoquote.please }}
					<div class="do">{{ t.righttoquote.do }}</div>
					<div class="tip">{{ t.righttoquote.tip }}</div>
				</li>
				<li class="link">
					{{ t.righttolink.please }}
					<div class="do">{{ t.righttolink.do }}</div>
				</li>
				<li class="publicdomain">
					{{ t.publicdomain.please }}
					<div class="do">{{ t.publicdomain.do }}</div>
				</li>
				<li class="libraries">
					{{ t.libraries.please }}
					<div class="do">{{ t.libraries.do }}</div>
				</li>
				<li class="panorama">
					{{ t.publicspace.please }}
					<div class="do">{{ t.publicspace.do }}</div>
				</li>
				<li class="education">
					{{ t.education.please }}
					<div class="do">{{ t.education.do }}</div>
				</li>
				<li class="term">
					{{ t.availability.please }}
					<div class="do">{{ t.availability.do }}</div>
				</li>
				<li class="drm">
					{{ t.digitallocks.please }}
					<div class="do">{{ t.digitallocks.do }}</div>
					<div class="tip">{{ t.digitallocks.tip }}</div>
				</li>
				<li class="filesharing">
					{{ t.filesharing.please }}
					<div class="do">{{ t.filesharing.do }}</div>
					<div class="tip">{{ t.filesharing.tip }}</div>
				</li>
			</ol>
			<div class="showmore">{{ t.showmore }}</div>

		</div>
		<div class="cont">
			<h2 id="tell">{{ t.tell }}</h3>
				<p id="icalled">"{{ t.icalled }}"</p>
				<p class="share">
		        	<a id="facebook" href="" target="share" onclick="var w=window.open(this.href, 'share', 'width=550,height=300,left='+(screen.width/2-275)+','+'top='+(screen.height/2-220)); return false"><img src="/img/shrf.png" width="130" height="130" title="Facebook" /></a>
          			<a id="twitter" href="" target="share" onclick="var w=window.open(this.href, 'share', 'width=550,height=270,left='+(screen.width/2-275)+','+'top='+(screen.height/2-220));"><img src="/img/shrt.png" width="130" height="130" title="Twitter" /></a>
          		</p>
				<p id="credits">
					{{ t.credits }}
				</p>
		</div>

		</div>

		{% include js.html %}

		<iframe id="submittarget" name="submittarget" width="0" height="0"></iframe>
	</body>
</html>